.input-group {
  display: flex;
  margin-bottom: $m-size;
  flex-direction: column;
  @media (min-width: $desktop) {
    flex-direction: row;
    margin-bottom: $m-size;    
  }
}

.input-group__item {
  margin-right: $s-size;
  margin-bottom: $s-size;
  @media (min-width: $desktop) {
    margin: 0 $s-size 0 0;
  }
}